body {
  background-color: #fafafa;
}

section {
	  padding-top:70px;
    padding-bottom:50px;
    min-height:100vh;
}

#section-2 {
    background: #f7f7f7;
}

.navbar {
  background-color: white;
  height: 2rem;
}

.nav-link {
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}

#presentation {
  padding-top: 60px;
  font-family: 'Inconsolata', monospace;
}

<<<<<<< HEAD
@media (max-width: 575px) {
    #skills {
        width: 12em;
        height: 12em;
        clear: both;
    }
    #userEx,
    .ux1,
    .ux2,
    #userEx1 {
        display: none;
    }
    .ux3,
    #userEx2 {
        display: none;
    }
    .videoChannel,
    .photoIcon {
        display: none;
    }
    #girl {
        display: none;
    }
    #section_2 {
        margin-top: -30em;
    }
    .presentaion {
        text-align: center;
    }
    footer {
        margin-top: -15em;
    }
}
=======
>>>>>>> parent of fe06f4a... Photography, styles
